services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"

  frontend-desktop:
    build: ./frontend-desktop
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
