
services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    environment:
      - NODE_ENV=development
    command: node --loader ts-node/esm src/app/server.ts

  frontend-desktop:
    build: ./frontend-desktop
    ports:
      - "3000:80"
    environment:
      - NODE_ENV=development

